@font-face {
  font-family: Ubuntu;
  src: url("Ubuntu-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("Ubuntu-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url("Ubuntu-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("Ubuntu-Italic.ttf");
  font-weight: 300;
  font-style: italic;
}